<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body class="page">
  <header><h1>Travel Planner</h1></header>
  <div class="info">
    <div class="img"></div>
    <div class="content">
      <label for="city">My trip to</label>
      <input type="text" id="city" placeholder="enter city" required>
      <!-- <label for="country">Country</label> 
      <input type="text" id="country" placeholder="enter country" required> -->
      <label for="ddate">Departing</label>
      <input type="date" id="ddate" placeholder="YYYY-MM-DD" onchange="Client.returnDate()" required>
      <label for="rdate">Returning</label>
      <input type="date" id="rdate" placeholder="YYYY-MM-DD" required>
      <button id="add" type="submit" onsubmit="return Client.performAction()"
        onclick="return Client.performAction()">save trip</button>
      <button id="remove" type="submit" onclick="return Client.clearOutput()">remove trip</button>
      <div class="entry">
          <div id="count" class="centry"></div>
          <div id="forcast" class="centry"></div>
          <div id="high" class="centry"></div>
          <div id="des" class="centry"></div>
      </div>
    </div>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
</body>

</html>